* {
    margin: 0;
    box-sizing: border-box;



}

body {

    background-color: #000000;
    font-family: Inter, sanserif;
    color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #23252C;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 20px;
    padding: 20px;

}

.info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #1A1B21;
}

.image-section {
    background-color: #1A1B21;


}

.info-img {
    width: 317px;
    height: 317px;


}

.my-name {
    font-weight: 700;
    font-size: 20px;
    padding-top: 20px;


}

.my-role {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    padding-bottom: 10px;


}

.my-website {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
    padding-bottom: 10px;

}

/* btn {
    padding: 9px 13px 9px 11px;
    gap: 8px;
    position: absolute;
    width: 247px;
    height: 34px;
    left: 1251px;
    top: 469px;
} */

.email-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 247px;
    height: 34px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.abt-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

    background-color: #1A1B21;


}

.section-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}

p {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
}

.footer {
    border-radius: 0px 0px 10px 10px;
    padding-top: 20px;

    height: 60px;
    background-color: #18191F;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}